<h1 id="tableLabel">New Employee</h1>

<div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
          {{ currentDirector }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" (click)="selectDirector(undefined)">No Director</a></li>
          <li *ngFor="let director of directors"><a class="dropdown-item" (click)="selectDirector(director.id)">{{ director.firstName }} {{ director.lastName }}</a></li>
        </ul>
    </div>
    <br>
    <input class="form-control" type="text" placeholder="First Name" aria-label="First Name" [(ngModel)]="firstName">
    <br>
    <input class="form-control" type="text" placeholder="Last Name" aria-label="Last Name" [(ngModel)]="lastName">
    <br>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let role of roles">
          <input class="form-check-input me-1" type="checkbox" [(ngModel)]="role.inRole" aria-label="...">
           {{ role.name }}
        </li>
      </ul>
</div>
<br><br>

<input type="button" value="Save" (click)="addUser()" class="btn btn-dark">
<input type="button" value="Cancel" [routerLink]="['/']" class="btn btn-dark">
